
.carousel {
    max-width: 1000px; 
    max-height: 500px; 
    margin: 0 auto; 
  }
  
  .carousel img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 10px; 
  }
  
  .carousel .carousel-caption {
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 10px;
    border-radius: 5px;
    color: #fff;
  }
  